<ion-card>
    <form #f="ngForm" (ngSubmit)="submitForm($event)" role="search" #searchForm>
        <ion-item>
            <ion-input type="search" name="search" [(ngModel)]="searchText" [placeholder]="placeholder" [autocorrect]="autocorrect" [spellcheck]="spellcheck" [core-auto-focus]="autoFocus" [disabled]="disabled" role="searchbox" (focus)="showHistory()" (blur)="hideHistory()"></ion-input>
            <button item-end ion-button clear icon-only type="submit" class="button-small" [attr.aria-label]="searchLabel" [disabled]="disabled || !searchText || (searchText.length < lengthCheck)">
                <ion-icon name="search"></ion-icon>
            </button>
            <button *ngIf="showClear" item-end ion-button clear icon-only class="button-small" [attr.aria-label]="'core.clearsearch' | translate" [disabled]="searched == '' || disabled" (click)="clearForm()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-item>
        <div class="core-search-history" *ngIf="historyShown && history.length">
            <ion-list class="with-borders">
                <ion-item text-wrap *ngFor="let item of history" (mousedown)="itemMouseDown($event, item.searchedtext)" (mouseup)="itemMouseUp($event, item.searchedtext)" class="core-clickable">
                    <core-icon name="fa-history" item-start></core-icon>
                    {{item.searchedtext}}
                </ion-item>
            </ion-list>
        </div>
    </form>
</ion-card>
